target
project/boot
project/target
*~
src/main/cpp/bridj/build_out
src/test/cpp/test/build_out
src/test/cpp/dependsOnTest/build_out
bug*.txt
*.obj
*.pdb
*.idb
*.dep
*.lib
*.htm
*.ilk
*.manifest
*.manifest.res
*.pch
*.ncb
*.suo
*.user
*.exp
src/main/cpp/buildsys/vs2008/Release
src/main/cpp/buildsys/vs2008/Debug
src/main/cpp/buildsys/vs2008/x64/Release
src/main/cpp/buildsys/vs2008/x64/Debug
dependency-reduced-pom.xml
dyncall/*
dyncallBefore/*
*.log
dalvik
